*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-color: #f1f8d8;
}

/**Panel**/
h3{
    font-family: Impact, sans-serif;
    font-weight: 400;
}
.entrypanel{
    height: 60px;
    align-items: center;
    
  font-size: 25px;
    background-color:#168AAD;
    color: white;
    font-weight: 700;
    display: flex;
}
.panelop{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-top: 7px;
    padding-left: 4px;
    width: 25%;
}
.option{
    display: flex;
    justify-items: flex-end;
    margin-left: 700px;
}
/**Intro-Hero**/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin-top: 15px;
    font-family: Impact, sans-serif;
    font-size: 14px;
    background-color: #b4e4aa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 70%;
    border-radius: 5px;
    border: none;

}
.boxes{
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;


}
#box{
    height: 350px;
    width: 25%;
    background-color: white;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.backimage{
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-size: cover;

}
.boxcontent h3{
    margin-left: 15px;
    font-weight: 700;
}
/**Footer**/
.footpanel{
    height: 50px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    background-color:#168AAD;
    display: flex;
    justify-content: center;
    align-items: center;

}